@model Dump.Models.IndexView
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="/Content/lightbox.css">
<script src="/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Scripts/lightbox.min.js"></script>
<div class="jumbotron">
    <h1>Dump</h1>
    <p class="lead">This is dump, we dump here.</p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Item One</h2>
        <p>Image here</p>
        <p><a class="btn btn-default" href="">Do nothing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item Two</h2>
        <p>Image here</p>
        <p><a class="btn btn-default" href="">Do nothing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item three</h2>
        <p>Image here</p>
        <p>
            <a class="btn btn-default" href="">Do nothing &raquo;</a>
        </p>
    </div>*@

    @if (Model != null)
    {
        foreach (var image in Model.Images)
        {
            <div class="col-md-4">
				<a class="example-image-link" data-lightbox="example-1" href="@string.Format("/UploadedData/Images/{0}", Path.GetFileName(image.FileName))">
					<img class="@image.Class" src="@image.ThumbFileName.Replace("~", "")" />
				</a>
            </div>
        }
    }
</div>