@model Dump.Models.IndexView
@{
    ViewBag.Title = "v0.Net";
}

<link rel="stylesheet" href="/Content/lightbox.css">
<script src="/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Scripts/lightbox.min.js"></script>
<div class="jumbotron">
    <h1>Dump</h1>
    <p class="lead">This is dump, we dump here.</p>
</div>

<div class="row">
    @if (Model != null)
	{
		foreach (var image in Model.Images)
		{
            <div class="col-md-4">
				<a class="example-image-link" data-lightbox="example-1" href="@string.Format("/UploadedData/Images/{0}", Path.GetFileName(image.FileName))">
					<img class="@image.Class" src="@image.ThumbFileName.Replace("~", "")" />
				</a>
            </div>
		}
	}
</div>

<div class="row">
	@if (Model != null && Model.Pages > 1)
	{
		<p>
			Go to page:
			@for (int i = 0; i < Model.Pages; i++)
			{
				<a href="@string.Format("/Home/Index?page={0}", i)"> @i </a>
			}
		</p>
	}
</div>