@{
    ViewBag.Title = "Upload";
}

<h2>Image</h2>

@using (Html.BeginForm("HandleFileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file"  multiple="multiple" name="files" />
	<input type="submit" value="Upload" />

	<p>@ViewBag.Message</p>
}